*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #FFD6A8;
}
.content{
	font-family: 'Nunito', sans-serif;
	width: 70%;
	margin:auto;
}
.main-headers{
			font-family: 'Nunito', sans-serif;
			padding-top: 50px;
			padding-left: 70px;
			background-image: linear-gradient(rgba(255, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/dost1.jpg);
			font-size: 30px;
			height: 270px;
			background-position: center;
			background-size: 100%;
}
hr{
	border-color:#F07900;
}
.menu{
	width: 100%;
	padding: 20px 0;
	background-color: #F88F12;
	margin-bottom: 50px;
}
.menu td{
	text-align: center;
	max-width: 60px;
}
button{
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	padding: 12px 15px;
	border:1px solid;
	border-radius: 20px;
	background-color: #F88F12;
	border-color: #F88F12;
}
.menu button:hover{
	
	transform: scale(1.05);
	transition: 0.7s;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
}
.menu button:active{
	background-color: #F58200;
	border-color: #F58200;
}

.heand{
			text-align: center;
			border: 1px solid;
			border-radius: 5px;
			padding: 20px;
			margin: 30px 20px 30px;
			
}
.boxx{
	background-color: white;
	padding: 4% 5% 7%;

	box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}
p{
	margin-top: 10px;
	font-family: 'Nunito', sans-serif;
}





.imgg{
			text-align: center;
			margin-bottom: 40px;
}
img{
	width: 70%;
	transition: transform 0.25s;
}
img:hover{
	transform: scale(1.02);
}	
li{
			margin-top: 10px;
}
ul{
			margin-left: 30px;
			margin-bottom: 30px;
}


svg{
	height: 20px;
	margin-right: 10px;
}
th{
	text-align: left;
	padding-bottom: 10px;
	padding-top: 20px;
}
.filling{
	width: 55%;
	margin-bottom: 20px;
}
.filling td{
	padding-right: 20px;
	width: 50%;
}
.filling tr:nth-child(even){
	background-color: #EFD6AA;
}
h3{
	padding: 15px 0;
}
ol{
	padding-bottom: 20px;
}
li{
	margin-left: 15px;
}

.imgg1{
			text-align: center;
			margin: 40px 20px 50px 20px;
			

		}
.imgg1 img{
	width: 100%;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);
}

.clic{
	color:  #EFD6AA;
}
.clic:hover{
	text-decoration-line:underline;
}

footer{
			font-family: 'Nunito', sans-serif;
			text-align: center;
			color: grey;
			font-size: 10px;
			padding-top: 30px;
			padding-bottom: 20px;
			
		}









