*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: white;
}
.content{
	font-family: 'Nunito', sans-serif;
	width: 70%;
	margin:auto;
}

.boxx{
	background: linear-gradient(to bottom, #cc33ff 0%, #ffcc00 100%);
	
	padding: 5%;
	margin-top: 70px;
	margin-bottom: 70px;
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
}
p{
	font-family: 'Nunito', sans-serif;
}











